USE [master]
GO
/****** Object:  Database [var]    Script Date: 27.12.2021 17:53:30 ******/
CREATE DATABASE [var]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'var', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\var.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'var_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\var_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [var].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [var]
GO
/****** Object:  Table [dbo].[Material]    Script Date: 27.12.2021 17:53:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Material](
	[idMaterial] [int] IDENTITY(1,1) NOT NULL,
	[NameM] [nchar](60) NOT NULL,
	[idTypeM] [int] NOT NULL,
	[CountinPuck] [nchar](10) NOT NULL,
	[Unit] [nchar](10) NOT NULL,
	[CountinStock] [int] NOT NULL,
	[MinOstatok] [int] NOT NULL,
	[Price] [int] NOT NULL,
 CONSTRAINT [PK_Material] PRIMARY KEY CLUSTERED 
(
	[idMaterial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaterialType]    Script Date: 27.12.2021 17:53:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaterialType](
	[idMtype] [int] IDENTITY(1,1) NOT NULL,
	[NameMaterialTupe] [nchar](10) NOT NULL,
	[Procent] [int] NOT NULL,
 CONSTRAINT [PK_MaterialType] PRIMARY KEY CLUSTERED 
(
	[idMtype] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prod_Material]    Script Date: 27.12.2021 17:53:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prod_Material](
	[idMaterial] [int] NOT NULL,
	[idProduct] [int] NOT NULL,
	[Procent] [int] NOT NULL,
 CONSTRAINT [PK_Prod_Material] PRIMARY KEY CLUSTERED 
(
	[idMaterial] ASC,
	[idProduct] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 27.12.2021 17:53:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[idProducts] [int] IDENTITY(1,1) NOT NULL,
	[ProdName] [nchar](100) NOT NULL,
	[Artocle] [int] NOT NULL,
	[MinCostForAgent] [int] NOT NULL,
	[Image] [nchar](100) NOT NULL,
	[IdTypeProd] [int] NOT NULL,
	[CountPresins] [int] NOT NULL,
	[NumberCeh] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[idProducts] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeProd]    Script Date: 27.12.2021 17:53:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeProd](
	[idTP] [int] IDENTITY(1,1) NOT NULL,
	[NameTP] [nchar](20) NOT NULL,
	[TpProcent] [int] NOT NULL,
 CONSTRAINT [PK_TypeProd] PRIMARY KEY CLUSTERED 
(
	[idTP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Material]  WITH CHECK ADD  CONSTRAINT [FK_Material_MaterialType] FOREIGN KEY([idTypeM])
REFERENCES [dbo].[MaterialType] ([idMtype])
GO
ALTER TABLE [dbo].[Material] CHECK CONSTRAINT [FK_Material_MaterialType]
GO
ALTER TABLE [dbo].[Prod_Material]  WITH CHECK ADD  CONSTRAINT [FK_Prod_Material_Material] FOREIGN KEY([idMaterial])
REFERENCES [dbo].[Material] ([idMaterial])
GO
ALTER TABLE [dbo].[Prod_Material] CHECK CONSTRAINT [FK_Prod_Material_Material]
GO
ALTER TABLE [dbo].[Prod_Material]  WITH CHECK ADD  CONSTRAINT [FK_Prod_Material_Products] FOREIGN KEY([idProduct])
REFERENCES [dbo].[Products] ([idProducts])
GO
ALTER TABLE [dbo].[Prod_Material] CHECK CONSTRAINT [FK_Prod_Material_Products]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_TypeProd] FOREIGN KEY([IdTypeProd])
REFERENCES [dbo].[TypeProd] ([idTP])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_TypeProd]
GO
USE [master]
GO
